@charset "UTF-8";
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 20px;
    left: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
    font-family: "Inder";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 19.2px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .logo {
        top: 10px;
        left: 10px;
    }

    .title {
        font-size: 48px;
        letter-spacing: 9.6px;
    }
}
