/* App.css */

.App {
  text-align: center;
}

.WeatherWardrobe {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center; /* Centering the h1 */
}


.Searchbar:focus {
  outline: none; /* Removing the default focus outline */
  border-color: dodgerblue; /* Changing border color on focus */
}

/* You can add more styles as needed */
